# Eat Safe, Love

## Notebook Set Up

In [27]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [28]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [29]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [30]:
# review the collections in our database
db.list_collection_names()

['establishments']

In [31]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [32]:
# Find the establishments with a hygiene score of 20
query = { 'scores': {'Hygiene': 5}}

results = establishments.find(query)

# Use count_documents to display the number of documents in the result
results.count_documents()

# Display the first document in the results using pprint
pprint(results.find_one({}))

AttributeError: 'Cursor' object has no attribute 'count_documents'

In [33]:
# Convert the result to a Pandas DataFrame
hygeine_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
len(hygeine_df.index)
# Display the first 10 rows of the DataFrame
hygeine_df.head(10)

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [34]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = { 'RatingValue':  5, 'LocalAuthorityName' : 'London'}
results = establishments.find(query)

# Use count_documents to display the number of documents in the result
results.count_documents()

# Display the first document in the results using pprint
pprint(results.find_one())

AttributeError: 'Cursor' object has no attribute 'count_documents'

In [35]:
# Convert the result to a Pandas DataFrame
rating_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
len(rating_df.index)

# Display the first 10 rows of the DataFrame
rating_df[0:10]

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
query = {"BusinessName" : "Penang Flavours"}
penang_geo = establishments.find_one(query)['geocode']
penang_long = penang_geo['longitude']
penang_lat = penang_geo['latitude']

In [36]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

# 'geocode': {'longitude': '1.195625', 'latitude': '51.083812'}
#RatingValue

degree_search = 0.01

geo_query = {'geocode' : {'longitude' : { '$gt' :  penang_long - degree_search, '$lt' :  penang_long + degree_search}}, {'latitude' : { '$gt' :  penang_lat - degree_search, '$lt' :  penang_lat + degree_search}}}

rate_query = {'RatingValue' : 5}

sort =  [('scores' : {'Hygiene'}, 1)]

limit = 5

# Print the results

pprint(list(establishments.find(query).sort(sort).limit(limit)))

SyntaxError: invalid syntax (1918850989.py, line 10)

In [37]:
# Convert result to Pandas DataFrame
top5_near_penang = pd.json_normalize(results)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [38]:
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match' : {'scores': {'Hygiene': 5}}}

# 2. Groups the matches by Local Authority
group_query = {'$group' : {'_id' : 'LocalAuthorityCode'}}

# 3. Sorts the matches from highest to lowest
sort_values = {'$sort' : {'LocalAuthorityCode' : 1}}

#create pipeline
pipeline = [match_query, group_query, sort_values]

#run pipeline
results = list(establishments(pipeline))

TypeError: 'Collection' object is not callable. If you meant to call the 'establishments' method on a 'Database' object it is failing because no such method exists.

In [ ]:
# Print the number of documents in the result
count = 0
for result in results:
    count = count + 1
print(count)

# Print the first 10 results
count = 0
for result in results:
    count = count + 1
    print(result)

    if count == 11:
        break

In [ ]:
# Convert the result to a Pandas DataFrame
hygine0 = pd.json_normalize(results)

# Display the number of rows in the DataFrame
len(hygine0.index)
hygine0.shape[0]

# Display the first 10 rows of the DataFrame
hygine0.head(10)